<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lista Arbitri</title>
	</head>
	
	<body>
		
		<h1>Elenco Arbitri</h1>
		
		<a th:href="@{/arbitro/new}">Registra Nuovo Arbitro</a>
		<br><br>
		
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Azione</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="arbitro : ${arbitri}">
					<td th:text="${arbitro.id}">ID fittizio</td>
					<td th:text="${arbitro.nome}">Nome fittizio</td>
					<td th:text="${arbitro.cognome}">Cognome fittizio</td>
					<td>
						<a th:href="@{/arbitro/{id}(id=${arbitro.id})}">Visualizza</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>