<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Inserisci Squadra</title>
	</head>
	
	<body>
		
		<h1>Inserimento Nuova Squadra</h1>
		
		<form th:action="@{/squadre}" th:object="${squadra}" method="post">
			
			<label>Nome del Club:</label>
			<input type="text" th:field="*{nome}" required />
			<br><br>
			
			<button type="submit">Registra Squadra</button>
		</form>
		
		<br>
		<a th:href="@{/squadre}">Annulla e torna all'elenco delle squadre</a>
		
	</body>
</html>