<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${torneo.id != null} ? 'Modifica Torneo' : 'Nuovo Torneo'">Gestione Torneo</title>
	</head>
	
	<body>
		
		<h1 th:text="${torneo.id != null} ? 'Modifica Torneo' : 'Crea Nuovo Torneo'">Gestione Torneo</h1>
		
		<form th:action="${torneo.id != null} ? @{/admin/torneo/{id}/edit(id=${torneo.id})} : @{/admin/torneo/new}" 
			  th:object="${torneo}" method="post">
			
			<label>Nome Torneo:</label>
			<input type="text" th:field="*{nome}" required />
			<br><br>
			
			<label>Edizione Torneo:</label>
			<input type="number" th:field="*{anno}" required />
			<br><br>
			
			<label>Descrizione Torneo:</label>
			<input type="text" th:field="*{descrizione}" required />
			<br><br>
			
			<button type="submit" th:text="${torneo.id != null} ? 'Salva Modifiche' : 'Crea Torneo'">Invia</button>
		</form>
		
		<br>
		<a th:href="@{/tornei}">Annulla e torna alla lista dei tornei</a>
		
	</body>
</html>