<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Inserisci Torneo</title>
	</head>
	
	<body>
		
		<h1>Inserimento Nuovo Torneo</h1>
		
		<form th:action="@{/tornei}" th:object="${torneo}" method="post">
			
			<label>Nome Torneo:</label>
			<input type="text" th:field="*{nome}" required />
			<br><br>
			
			<label>Edizione Torneo:</label>
			<input type="number" th:field="*{anno}" required />
			<br><br>
			
			<button type="submit">Salva Torneo</button>
		</form>
		
		<br>
		<a th:href="@{/tornei}">Annulla e torna alla lista dei tornei</a>
		
	</body>
</html>