<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Lista Tornei</title>
	</head>
	
	<body>
		
		<h1>Elenco Tornei</h1>
		
		<a th:href="@{/torneo/new}">Aggiungi Nuovo Torneo</a>
		<br><br>
		
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Anno</th>
					<th>Azione</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="torneo : ${tornei}">
					<td th:text="${torneo.id}">ID fittizio</td>
					<td th:text="${torneo.nome}">Nome fittizio</td>
					<td th:text="${torneo.anno}">Anno fittizio</td>
					<td>
						<a th:href="@{/torneo/{id}(id=${torneo.id})}">Visualizza</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</body>
</html>