<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Richiesta Errata - SIWTornei</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <main class="main-content">
        <div class="error-container page-error-400">
            <div class="logo-container">
                <div class="logo-error">400</div>
            </div>
             
            <h2 class="error-subtitle">Richiesta Errata</h2>
             
            <p class="welcome-text font-size-md margin-bottom-lg">
                La richiesta inviata al server non è valida. Sembra esserci stato un "errore di impostazione" o un passaggio impreciso nei dati inviati! 
                Verifica le informazioni inserite e riprova.
            </p>
             
            <div class="admin-section">
                <a th:href="@{/}" class="main-link">Torna alla Home Page</a>
            </div>
        </div>
    </main>

</body>
</html>