<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	    <title>Pagina Non Trovata - SIWTornei</title>
	    <link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	
	<body>
	
	    <div class="top-bar">
	        <div class="top-bar-right">
	            <a th:href="@{/tornei}" class="login-link">Tornei</a>
	        </div>
	    </div>
	
	    <main class="main-content">
	         
	        <div class="error-container">
	            <div class="logo-container">
	                <div class="logo-error">404</div>
	            </div>
	             
	            <h2 class="error-subtitle">Risorsa Non Trovata</h2>
	             
	            <p class="welcome-text font-size-md margin-bottom-lg">
	                La pagina, il torneo o la squadra che stai cercando sembra essere "fuorigioco". 
	                Verifica che l'indirizzo inserito sia corretto o che la risorsa non sia stata eliminata.
	            </p>
	             
	            <div class="admin-section">
	                <a th:href="@{/}" class="main-link">Torna alla Home Page</a>
	            </div>
	        </div>
	
	        <div class="margin-top-lg">
	            <a th:href="@{/tornei}" class="back-link">← Torna all'elenco dei tornei</a>
	        </div>
	    </main>
	
	</body>
</html>