<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Operazione non consentita - SIWTornei</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <main class="main-content">
        <div class="error-container">
            <div class="logo-container">
                <div class="logo-error">X</div>
            </div>
            
            <h2 class="error-subtitle">Operazione Non Valida</h2>
            
            <!-- Mostra il messaggio specifico dell'eccezione lanciata racchiuso nel blocco error-msg -->
            <div class="error-msg margin-bottom-lg">
                <p class="no-margin text-center" th:text="${errorMessage}">Errore generico di validazione.</p>
            </div>
            
            <div class="admin-section">
                <a th:href="@{/}" class="main-link">Torna alla Home Page</a>
            </div>
        </div>
    </main>

</body>
</html>