<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operazione non consentita</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>
<body>
    <div class="container" style="text-align: center; margin-top: 50px;">
        <h2>Attenzione: Operazione non valida</h2>
        <hr>
        <!-- Mostra il messaggio specifico dell'eccezione lanciata -->
        <p class="error-msg" th:text="${errorMessage}">Errore generico di validazione.</p>
        <br>
        <a href="javascript:history.back()" class="btn">Torna Indietro</a>
    </div>
</body>
</html>